@import url("https://fonts.googleapis.com/css?family=Cinzel|Fredericka+the+Great");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
}

body {
    height: 100vh;
    width: 100vw;
    background: #f3f4f7 url("./imgs/healthy.svg") no-repeat center center /
        contain;
    font-family: "Cinzel", serif;
}

.nav-bg {
    background-color: #203b61;
}

.nav-bg p {
    font-family: "Fredericka the Great", cursive;
    color: #ececec !important;
}

.list-group-item:hover {
    cursor: pointer !important;
    background-color: #eee !important;
}

.form-group {
    margin-bottom: 0 !important;
}

/* style for not found text box */

blockquote {
    color: rgba(29, 26, 21, 0.6);
    font-family: Tahoma, sans-serif;
    font-size: 1.2rem;
    width: 60%;
    margin: auto;
}

blockquote p {
    font-style: italic;
    margin-bottom: 0;
}

blockquote p::before,
blockquote p::after {
    content: "“";
    font-family: Georgia;
    font-size: 8rem;
    margin: -2rem 0 0 -4rem;
    position: absolute;
    opacity: 0.5;
}

blockquote p::after {
    content: "”";
    margin: -1rem -4rem 0 0;
}

/* set magin bottom of navbar p  to 0*/
.nav-bg p {
    margin-bottom: 0 !important;
}

/* Icon details for navbar*/
.nav-bg .fas,
.nav-bg p,
.nav-bg p a {
    color: #fff !important;
    text-decoration: none;
}

.nav-bg .details a {
    font-size: 1.2rem;
}

.home,
.details {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem 1.5rem;
    box-shadow: inset 0 0 50px rgba(204, 204, 204, 0.411);
}

/* responsive ness */

@media (max-width: 768px) {
    .nav-bg {
        padding: 1rem 0 !important;
    }
}

@media (max-width: 560px) {
    body {
        font-size: 12px !important;
    }
    .nav-bg p {
        font-size: 1.5rem;
    }
    .own-mb {
        margin-bottom: 1.5rem !important;
    }
}

th {
    cursor: pointer !important;
}
