@import url("https://fonts.googleapis.com/css?family=Cinzel|Fredericka+the+Great");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
}

body {
    height: 100vh;
    width: 100vw;
    background: #f3f4f7 url("./imgs/healthy.svg") no-repeat center left /
        contain;
    font-family: "Cinzel", serif;
}

.nav-bg {
    background-color: #203b61;
}

.nav-bg p {
    font-family: "Fredericka the Great", cursive;
    color: #ececec !important;
}

.list-group-item:hover {
    cursor: pointer !important;
    background-color: #eee !important;
}

.form-group {
    margin-bottom: 0 !important;
}

/* style for not found text box */

blockquote {
    color: rgba(29, 26, 21, 0.6);
    font-family: Tahoma, sans-serif;
    font-size: 1.2rem;
    width: 60%;
    margin: auto;
}

blockquote p {
    font-style: italic;
    margin-bottom: 0;
}

blockquote p::before,
blockquote p::after {
    content: "“";
    font-family: Georgia;
    font-size: 8rem;
    margin: -2rem 0 0 -4rem;
    position: absolute;
    opacity: 0.5;
}

blockquote p::after {
    content: "”";
    margin: -1rem -4rem 0 0;
}
